
<head>
    <link rel="stylesheet" href="/css/admin.css">
</head>

   <div class="admin-container">
     
      
      <div class="card-container">
          <div class="card" href="/nuclea/departament">
              <h3>Departments</h3>
              <p>Manage the departments that exist in the company</p>
              <a href="/nuclea/departament" class="btn">Access now →</a>
          </div>
          
          <div class="card">
              <h3>Collaborators</h3>
              <p>Manage employee profiles, roles, and departments</p>
              <a href="/nuclea/users" class="btn">Access now →</a>
          </div>
          <div class="card">
              <h3>Holidays</h3>
              <p>Manage holidays to ensure accurate attendance tracking</p>
              <a href="/nuclea/holiday" class="btn">Access now →</a>
          </div>
      </div>
 
   </div>

