
<head>
    <link rel="stylesheet" href="/css/admin.css">
</head>

   <div class="admin-container">
     <h1 class="title">HRMS Management System</h1>
      <p class="subtitle">A comprehensive solution for managing your company's human resources.</p>
      
      <div class="card-container">
          <div class="card" href="/nuclea/departament">
              <h3>Departaments</h3>
              <p>Conduct and manage employee feedback sessions</p>
              <a href="/nuclea/departament" class="btn">Access now →</a>
          </div>
          
          <div class="card">
              <h3>Collaborators</h3>
              <p>Manage employee profiles, roles, and departments</p>
              <a href="/nuclea/users" class="btn">Access now →</a>
          </div>
      </div>
 
   </div>

