<head>
  <link rel="stylesheet" href="/css/dashboard.css">
</head>
<div class="title">

  <div class="imgLogo">
    <img src="/media/nucleaLogo.png" alt="">
  </div>
  {{!-- <h1>| Dashboard</h1> --}}
</div>
<div class="container-targets">
    {{#each targets}}
      
      <div class="targets {{title}}">
        <h2>{{title}}</h2>
        <p>{{content}}</p>
      </div>
    {{/each}}
</div>
  