<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi Sitio con Loader</title>
  <link rel="stylesheet" href="/css/dashboard.css">
  
</head>
<body>
  <div class="loader-wrapper" id="loaderWrapper">
    <div class="loader-container">
      <div class="bars-loader">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      <p class="loading-text">Loading...</p>
    </div>
  </div>

  <div class="main-content" id="mainContent">
    <div class="imagen">
    </div>
  </div>

  <img src="/media/dashboard.png" alt="" style="margin-left: 150px;">

  <script src="/js/dashboard.js"></script>
</body>
</html>