<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/css/departament.css">
</head>
<body>
    <div class="top-container">
        <nav class="nav-bar">
            <div class="first-container">
                <div class="views">Views</div>
            <div class="search-container">
                <input type="text" placeholder="Search..." class="input-search">
                <i class="fa-solid fa-magnifying-glass search-icon"></i>
            </div>
            </div>
            <div class="second-container">
                <div class="notification">
                    <i class="fa-solid fa-bell"></i>
                </div>
                    
                <div class="perfil">
                    <i class="fa-solid fa-user"></i>
                </div>
            </div>
        </nav>
    </div>

    <div class="content">
        <div class="nav-content">
            <h2>Departament Magnament</h2>
            <input type="button" value="Add Dept" class="add-btn">
        </div>
        <table>
            <thead>
                <tr>
                    <th>Name(s)</th>
                    <th>Nº Dept</th>
                    <th>Description</th>
                    <th>State</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Finance</td>
                    <td>101</td>
                    <td>Manages financial operations</td>
                    <td><span class="active">Active</span></td>
                    <td>
                        <div class="dropdown">
                            <button class="action-btn">Actions</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>UX/UI</td>
                    <td>102</td>
                    <td>Develops digital technologies</td>
                    <td><span class="active">Active</span></td>
                    <td>
                        <div class="dropdown">
                            <button class="action-btn">Actions</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>