
<head>
    <link rel="stylesheet" href="/css/one-to-one.css">
</head>

<div class="container-one">
    <div class="container-questions">
        <div class="header">
            <div class="photo">
                <p>I</p>
            </div>
            <div class="profile">
                <h1>Ian Hernández</h1>
                <p>Software Department</p>
            </div>
        </div>
        <div class="indicator">
            <p>Question 1 of 5</p>
        </div>
        <div class="question">
            <h1>What are you proud of from the past month?</h1>
            <p>Identify personal achievements or team accomplishments.</p>
        </div>
        <textarea name="mensaje" rows="4" cols="50" placeholder="Type your answer here..."></textarea>
        <div class="buttons">
            <button class="btn btn-secondary" type="button"><i class="fa-solid fa-caret-left"></i>Previous</button>
            <button class="btn btn-primary" type="button">Next<i class="fa-solid fa-caret-right"></i></button>
        </div>
         <div class="progress-bar">
            <div class="progress"></div>
        </div>
    </div>
</div>

