<head>
    <link rel="stylesheet" href="/css/one-to-one.css">
</head>

   <div class="one-container">
    

      <div class="empezarInterview">
          <div class="card search" href="/nuclea/interview">
              <div class="search-container">
                <h3>Search employee</h3>
                <p>Search for any employee you would like to evaluate</p>
               
                {{> search  
                    title="Search employee" 
                    placeholder="Mauricio Hernández..." 
                    searchId="employeeSearch"
                    searchType="users"
                    contacts=employees
                    labelSearch="Employee name"
                }}
                
              </div>

              <div class="buttons">
                <a href="/nuclea/interview/edit" class="btn ">Edit Questions </a>
                <a href="/nuclea/interview" class="btn apply " id="applyInterviewBtn">Apply Interview →</a>
              </div>
          </div>
      </div>

      <div class="card graph">
       <h3 id="graph-title">Team Performance Overview</h3>
        {{> graph 
                workload=closedResponses.[0].valorRespuesta
                health=closedResponses.[1].valorRespuesta 
                recognition=closedResponses.[2].valorRespuesta
                emotionalHealth=closedResponses.[3].valorRespuesta
                workLifeBalance=closedResponses.[4].valorRespuesta
                className="chart-container" }}
      </div>
      <div class="card tableCollab">
        
      </div>

 
   </div>
<script src="/js/one.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>