
<head>
    <link rel="stylesheet" href="/css/one-to-one.css">
</head>

   <div class="one-container">
    

      <div class="empezarInterview">
          <div class="card" href="/nuclea/interview">
              <div class="search-container">
                <h3>Search employee</h3>
                {{> search  
                    title="Search employee" 
                    placeholder="Employee name..." 
                    searchId="employeeSearch"
                    searchType="users"
                    contacts=employees
                }}
                
              </div>

              <div class="buttons">
                <a href="/nuclea/interview/edit" class="btn ">Edit Questions </a>
                <a href="/nuclea/interview" class="btn apply " id="applyInterviewBtn">Apply Interview →</a>
              </div>
          </div>
      </div>

      <div class="graph">
        {{> graph }}    
      </div>
      <div class="tableCollab">

      </div>

 
   </div>
