
<head>
    <link rel="stylesheet" href="/css/one-to-one.css">
</head>

   <div class="one-container">
    
      <div class="empezarInterview">
          <div class="card" href="/nuclea/interview">
              <h3>Interview</h3>
              <p>Conduct and manage employee feedback sessions</p>
              <a href="/nuclea/interview" class="btn">Access now →</a>
          </div>
      </div>
      <div class="search">

      </div>
      <div class="graph">

      </div>
      <div class="tableCollab">

      </div>

 
   </div>
