
<head>
    <link rel="stylesheet" href="/css/one-to-one.css">
</head>

<<<<<<< Updated upstream
<div class="container-one">
    <div class="container-questions">
        <div class="header">
            <div class="photo">
                <p>I</p>
            </div>
            <div class="profile">
                <h1>Ian Hernández</h1>
                <p>Software Department</p>
            </div>
        </div>
        <div class="indicator">
            <p>Question 1 of 5</p>
        </div>
        <div class="question">
            <h1>What are you proud of from the past month?</h1>
            <p>Identify personal achievements or team accomplishments.</p>
        </div>
        <textarea name="mensaje" rows="4" cols="50" placeholder="Type your answer here..."></textarea>
        <div class="buttons">
            <button class="btn btn-secondary" type="button"><i class="fa-solid fa-caret-left"></i>Previous</button>
            <button class="btn btn-primary" type="button">Next<i class="fa-solid fa-caret-right"></i></button>
        </div>
         <div class="progress-bar">
            <div class="progress"></div>
        </div>
    </div>
    <div class="sidebar">
        <div class="user-data">
             <h3 className="text-lg font-medium mb-4 text-white">Employee Information</h3>
             <div class="target">
                <p class="label">Name:</p>
                <p class="description">Ian</p>
              </div>
             <div class="target">
                <p class="label">Department:</p>
                <p class="description">Engineering</p>
              </div>
             <div class="target">
                <p class="label">Time in the company:</p>
                <p class="description">2 years</p>
              </div>
             <div class="target">
                <p class="label">Administrative faults:</p>
                <p class="description">None</p>
              </div>
        </div>
        <div class="search">
            <h3 className="text-lg font-medium mb-4 text-white">Search employee</h3>
             <div class="search-bar">
                <input type="text" placeholder="Buscar..." class="search-input">
            </div>
            
            <div class="contact-item active">
                <div class="contact-avatar active" >J</div>
                <div class="contact-name">Jacob Espejel</div>
            </div>
            
            <div class="contact-item">
                <div class="contact-avatar">I</div>
                <div class="contact-name">Ian Hernández</div>
            </div>
            
            <div class="contact-item">
                <div class="contact-avatar" >Á</div>
                <div class="contact-name">Ángel Rolón</div>
            </div>
            
            <div class="contact-item">
                <div class="contact-avatar" >O</div>
                <div class="contact-name">Omar Emilio</div>
            </div>
            
            <div class="contact-item">
                <div class="contact-avatar">S</div>
                <div class="contact-name">Sebastian Osorio</div>
            </div>
            </div>
    </div>
</div>

=======
   <div class="one-container">
    
      <div class="empezarInterview">
          <div class="card" href="/nuclea/interview">
              <h3>Interview</h3>
              <p>Conduct and manage employee feedback sessions</p>
              <a href="/nuclea/interview" class="btn">Access now →</a>
          </div>
      </div>
      <div class="search">

      </div>
      <div class="graph">

      </div>
      <div class="tableCollab">

      </div>

 
   </div>
>>>>>>> Stashed changes
