<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profile</title>
        <link rel="stylesheet" href="/css/profile.css">
    </head>
    <body>
        <div class="container">
            <div class="left-panel">
                <div >
                    <img class="profile-image" src="/media/profile.png" alt="Imagen de perfil" >
                
                    <img class="edit-button" src="/media/boton.png" alt="Icono de edición">
                </div>
                <div class="profile-name">
                    Laura Eugenia Ugalde Urquiza
                </div>
                <br />
                <div class="left">
                    <span class="label"><h2>Ubicacion:</h2></span>
                    <div class="info-item" style="text-align: justify;">Prepa Tec, Epigmenio González 500, Tecnologico, 76159 Santiago de Querétaro, Qro.</div>
                </div>
            </div>
            <div class="right-panel">
                <div class="id-container" >
                    <span class="label"><h2>Id:ㅤ </h2></span>
                    <div class="info-item">1894502849</div>
                </div>
                <div >
                    <span class="label"><h2>Departamento:</h2></span>
                    <div class="info-item"><h2>Recursos Humanos</h2></div>
                </div>
                <div >
                    <span class="label"><h2>Correo electronico:</h2></span>
                    <div class="info-item"><h2>laeugalur@nuclea.mx</h2></div>
                </div>
                <div >
                    <span class="label"><h2>Fecha de registro:</h2></span>
                    <div class="info-item"><h2>09/03/2025</h2></div>
                </div>
            </div>
        </div>
    </body>
</html>









{{!-- 


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/profile.css">
  </head>
  <body>
    <div class="container">
        
        <div class="left-panel">
            <img id="imgprofile" src="/media/profile.png" style="width: 200px; height:auto">
            <img id="imgprofile" src="/media/boton.png" style="width: 60px; height:auto">
            <p>Nombre de usuario</p>
            <h2>Ubicacion:</h2>
            <p>ubicacion:</p>
            
        </div>
 
        <div class="right-panel">
            <p>chevere</p>
        </div>
    
    </div>
  </body>


    
</html>
 --}}
