*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --color-bg:#0B1019;
    --color-bg-secundario:#131A27;
    --color-primario:#2762EA;
    --color-secundario:#1DA4FC;
    --color-terciario:#8360FE;
    --accent-blue: #4A6CF7;
    --border-color: #1E2433;
    --color-iconos:#A1B0B9;
    --color-fuente:#fff;
}
body{
    background: var(--color-bg);
}
h1{ 

    font-size: 2.2rem;
    font-weight: 800;
    color: var(--color-fuente);
}
.container{ 
    margin: auto;
    background: var(--color-bg);
    width: calc(100% - 40px); 
    margin-left: 70px;
    margin-top: -20px;
    padding: 20px;
    height: 100vh;
}
.container h1{
    margin: 20px;
    font-size: 2.2rem;
    font-weight: 800;
    color: var(--color-fuente);
}
.top-container{
    width: 92%;
    margin: auto;
    margin-top: 5px;
    padding: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-input-container{
    width: 40%;
}