/* Gradient text effect */
.container-one{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  width: 100%;
  height: 100vh; 
  padding: 0;
  margin: 0;
}
.container-questions{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; 
  align-items: flex-start;
  width: 60%;
  height: auto; 
  padding: 30px;
  position: absolute;
  top: 130px;
  left: 100px;
  border-radius: 20px;
  background: #131721;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.245), 
  0 2px 3px rgba(0, 0, 0, 0.113);
}
.container-questions .header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 10vh;
  gap: 20px;
}
.header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 10vh;
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.046);
  margin-top: 0;
  padding-bottom: 20px;
}
.header .photo{
  width: 65px;
  height: 65px;
  background-color: var(--color-secundario);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .photo P{
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--color-fuente);
}
.profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
 
}
.profile h1{
  font-size: 1.1rem;
  font-weight: 800;
  color: var(--color-fuente);
  margin: 0;
}
.profile p{
  font-size: 1rem;
  color: var(--color-iconos);
  margin: 0;
}

.indicator{
  margin: 20px 10px;
  background: #152548;
  padding: 10px 20px;
  border-radius: 20px;
  color: var(--color-secundario);
  font-size: .8rem;
  font-weight: 700;
}
.question{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 10px;
  margin-bottom: 20px;
}
.question h1{
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-fuente);
  margin: 0;
}

textarea {
  width: 100%;
  height: 230px;
  background-color: var(--color-bg);
  color: var(--color-iconos);
  border: 1px solid #2F3646;
  border-radius: 8px;
  padding: 12px;
  resize: none;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

textarea::placeholder {
  color: #6b7280;
}

textarea:focus {
  border-color: var(--button-bg);
}

.buttons {

  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 25px;
}

.btn {
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
}
.btn-primary {
  background: linear-gradient(to right, #256DED, #1E9FFB);
  color: var(--color-fuente);
  transition: all 0.3s ease;
}
.btn-secondary {
  background-color:#1A202C;
  color: var(--color-iconos);
}
.btn-primary:hover {
  box-shadow: 0 0 12px rgba(37, 109, 237, 0.6);
}

.btn i {
  font-size: 18px;
}

.progress-bar {
  width: 100%;
  height: 5px;
  background-color: #374151;
  position: relative;
  margin-top: 12px;
  border-radius: 2px;

}

.progress {
  
  width: 30%; /* Inicial en 0 */
  height: 100%;
  background: linear-gradient(to right, #256DED, var(--color-terciario));
  transition: width 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.3s ease;
  box-shadow: 0 0 12px rgba(37, 109, 237, 0.6);
  
}
