
<head>
    <link rel="stylesheet" href="/css/header.css">
</head>

<div class="navbar">
    <div class="view">
        <div class="icon-container"><i class="{{iconClass}}"></i></div>
        <h1>{{title}}</h1>
    </div>
    <div class="icons">
        {{!-- <div class="notifications"> --}}
            <a href="#" title="Profile"><i class="fa-regular fa-bell"></i></a>
            {{!-- <span class="status-indicator"></span>
        </div> --}}
        <a href="/nuclea/profile" title="Profile"><i class="fa-solid fa-user"></i></a>
    </div>
</div>
    