<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="/css/signup.css">
  </head>

  <body>
  <section class="section">
      <h1 class="title">
        Flowit | SignUp
      </h1>
      
     <div class="container-signup" id="container">
        <div class="form-container sign-in">
            <form id="authenticationForm" method="POST" action="/nuclea/signup">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <h1>Iniciar Sesion</h1>
                <input type="email" placeholder="Correo" name="email">
                <input type="password" placeholder="Contraseña" name="password">
                {{#if failed}}
                <p style="color: red;">Usuario o contraseña incorrectos</p>
                {{/if}}
                <a href="">¿Olvidaste tu contraseña?</a>
                <a href="" ><button>Iniciar Sesión</button></a>
            </form>
        </div>
    </div>

    <script src="/js/signup.js"></script>
  </section>
  </body>
</html>